.hero img {
    width: 100%;
    height: auto;
}

.hero .label {
    position: absolute;
    top: 8%;
    background: radial-gradient(#fff, #023b7c);
    border: 1px solid rgba(0, 0, 0, .75);
    padding: 1.5rem;
    box-shadow: 0 0 3rem #fff;
    opacity: 0.75;
}

.label p {
    margin: 0;
    padding: .25rem;
    font-weight: 700;
    font-size: 2rem;
    font-family: "Great Vibes", serif;
}

@media screen and (max-width: 500px) {

    .hero .label {
        top: 15px;
        width: 100px;
        height: 20px;

    }

    .label p {
        text-align: center;
        color: purple;
        font-size: .80rem;

    }
}