@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital@1&family=Playfair+Display:ital@1&family=Roboto:wght@300&family=Whisper&display=swap');

:root {
  /* My coolor palette*/
  --primary-color: #c2e812;
  --secondary-color: #fe654f;
  --accent1-color: #1d8a99;
  --accent2-color: #0bc9cd;

  /* my fonts */
  --heading-font: "noto serif";
  --paragraph-font: 'noto';


  --headline-color-on-white: steelblue;
  --headline-color-on-color: #1d8a99;
  --paragraph-color-on-white: #0bc9cd;
  --paragraph-color-on-color: white;
  --paragraph-background-color: #0bc9cd;
  --nav-link-color: #1d8a99;
  --nav-background-color: steelblue;
  --nav-hover-link-color: #c2e812;
  --nav-hover-background-color: #fe654f;
  --nav-color-on-color: white;

}

.lemmon {
  background: var(--nav-hover-link-color);
  color: white;

}

* {
  max-width: 1650px;
  margin: 0;
  padding: 0;
  outline: 0;
  appearance: none;
  border: 0;
  
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;

}

header {
  background-color: #0bc9cd;

}

/* Toggle bar */

.theme-toggler {
  position: absolute;
  top: 3px;
  left: 90%;
  color: var(--nav-hover-link-color);
  padding: 8px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: right;
  
}

#sharp-1 {
  color: white;
}

/* End of Toggle bar*/

.navigation-bar li {
  display: inline-flex;
  position: relative;
  left: 700px;
  float: left;
  text-align: center;
  margin: 5px;
  padding: 5px;
  text-decoration: none;
  font-size: 30px;
  border-radius: 15px;
  background-color: #0bc9cd;
}

.navigation-bar li a {
  color: white;
}

button {
  position: absolute;
  top: 25%;
  left: 85%;
  background-color: var(--nav-hover-background-color);
  color: var(--nav-hover-link-color);
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: right;
}

button:hover {
  opacity: .6;
  color: white;
}



.navigation-bar a:hover {
  border-radius: 3px;
  transform: scale(1.1);
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}

.logo {
  float: left;
  margin: 5px;
  padding: 5px;
  padding: 14px 16px;
  text-decoration: none;
}

.up-coming-event {
  background-color: var(--accent2-color);
  color: white;
  text-align: center;
  padding: 5px;
  margin: 1rem;
}

header img {
  width: 50px;
  height: 20px;
  border-radius: 40px;
  box-shadow: 5px 5px 5px var(--nav-hover-link-color);
}

header h1 {
  color: white;
  padding: 3px;
  margin: 3px;
  transition: width 2s, height 2s, transform 1s;

}

header h1:hover {
  transform: scale(1.1);
}

.news-update>h2 {
  position: absolute;
  top: 30%;
  right: 55%;
  font-size: 50px;
  color: var(--accent2-color);
  text-align: center;
  transition: width 2s, height 2s, transform 1s;
}

.hero{
  width: 100%;
  height: auto;
}

#weather {
  border: 2px solid var(--accent1-color);
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 4rem;
  float: right;
}

.news-update>h2:hover {
  transform: scale(1.1);
}

.news-update img {
  min-width: 100%;
  height: 500px;
}

.news-updates-advert {
  background-color: var(--paragraph-background-color);
  color: white;
  padding: 1rem;
  margin: 1em;
}

.content-area {
  display: grid;
  padding: 10px;
  margin: 5px auto;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  gap: 5px;
}

.Uchenna-image {
  background-color: var(--accent1-color);
  width: 250px;
  margin: 1rem auto;

}

.Uchenna-image>img {
  width: 220px;
  height: 200px;
  padding: 3px;
  margin: 3px auto;
  background-color: var(--accent1-color);
}

.colume1,
.colume2,
.colume3,
.advert1,
.advert2 {
  padding: 1rem;
  margin: 1rem;
  color: black;
  border: 2px solid var(--accent1-color);
  transition: width 1s, height 1s, transform 1s;
  border-radius: 4rem;
}

.colume2>h2,
.colume3>h2 {
  text-align: left;
  background-color: var(--accent1-color);
  color: white;
  border-radius: 1rem;
}

.colume2 img,
.colume3 img {
  width: 250px;
}

.advert1 img {
  width: 450px;
  height: 500px;
  padding: 1em;
  position: relative;
}

.advert2>img {
  width: 100%;
  padding: 1rem;
  margin: 2rem auto;
}

.advert2>p,
.advert1>p {
  text-align: center;
  margin: 5px;
  padding: 5px;
  color: white;
  border-radius: 3em;
  background-color: var(--headline-color-on-color);
}

.content-area div:hover {
  overflow: hidden;
  opacity: 1;
  transform: scale(1.1);
}

.content-area h1,
.content-area1 h1 {
  background-color: var(--headline-color-on-color);
  border-radius: 15px;
  text-align: center;
  color: white;
}

.content-area p,
.content-area1 p {
  font-size: 20px;
  font-family: var(--paragraph-font);
}

.content-area li,
.content-area1 li {
  list-style: decimal;
}

.content-area1 {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  padding: 14px;
  margin: 10px;
  gap: 2rem;
}

footer {

  background-color: var(--accent1-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;

}

footer a {
  margin: 20px auto;
  padding: 15px;

}

a img {
  width: 60px;
  height: 60px;
  border-radius: 2rem;
}

footer .social img {
  padding-top: 15px;
  transition: width 1s, height 1s, transform 1s;
}

footer .social img:hover {
  opacity: .6;
  transform: scale(1.1);
}