@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital@1&family=Playfair+Display:ital@1&family=Roboto:wght@300&family=Whisper&display=swap');

:root {
  /* My coolor palette*/
  --primary-color: #c2e812;
  --secondary-color: #fe654f;
  --accent1-color: #1d8a99;
  --accent2-color: #0bc9cd;

  /* my fonts */
  --heading-font: "noto serif";
  --paragraph-font: 'noto';


  --headline-color-on-white: steelblue;
  --headline-color-on-color: #1d8a99;
  --paragraph-color-on-white: #0bc9cd;
  --paragraph-color-on-color: white;
  --paragraph-background-color: #0bc9cd;
  --nav-link-color: #1d8a99;
  --nav-background-color: steelblue;
  --nav-hover-link-color: #c2e812;
  --nav-hover-background-color: #fe654f;
  --nav-color-on-color: white;

}

.lemmon {
  background: var(--nav-hover-link-color);
  color: white;

}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--heading-font);
  text-decoration: none;
}

body {
  min-height: 100vh;
}

.header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  /* width: 100%;
    padding: 1.3rem 5%; */

  background: linear-gradient(transparent, var(--accent2-color));
  display: flex;
  justify-content: space-between;
  align-content: center;
  z-index: 100%;
}
.active{
  background: var(--nav-hover-background-color);
  color: white;
}


/* .header::before{
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
} */

.logo img {
  width: 50px;
  height: auto;
  border-radius: 2rem;


}

#check {
  display: none;
}

.icon {
  font-size: 2.8rem;
  right: 5%;
  color: white;
  cursor: pointer;
  display: none;
}

.theme-toggler {
  display: flex;
  justify-content: end;
  align-content: flex-end;
  position: relative;
  gap: 5px;
  padding: 8px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: right;
}

.nav-bar a {
  font-size: 2rem;
  margin-left: 2.5rem;
  color: black;
  font-weight: 300;
  border-radius: 0.5rem;
  cursor: pointer;
}

.nav-bar {
  overflow: hidden;
}

.nav-bar a:hover {
  color: var(--nav-hover-link-color);
  background: var(--nav-hover-background-color);
  opacity: .6;
}

.container {
  width: 100%;
  margin: auto;
}

.theme-toggler #sharp-1 {
  color: white;
}

/* End of Toggle bar*/
button {
  position: absolute;
  top: 25%;
  left: 85%;
  background-color: var(--nav-hover-background-color);
  color: var(--nav-hover-link-color);
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: right;
}

button:hover {
  opacity: .6;
  color: white;
}


.up-coming-event {
  background-color: var(--accent2-color);
  color: white;
  text-align: center;
  padding: 5px;
  margin: 1rem;
}


header h1 {
  color: white;
  padding: 3px;
  margin: 3px;
  transition: width 2s, height 2s, transform 1s;

}

header h1:hover {
  transform: scale(1.1);
}

.news-update>h2 {
  position: absolute;
  top: 30%;
  right: 55%;
  font-size: 50px;
  color: var(--accent2-color);
  text-align: center;
  transition: width 2s, height 2s, transform 1s;
}

.hero {
  width: 100%;
  height: auto;
}

#weather {
  border: 2px solid var(--accent1-color);
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 4rem;
  float: right;
}

.news-update>h2:hover {
  transform: scale(1.1);
}

.news-update img {
  min-width: 100%;
  height: 500px;
}

.news-updates-advert {
  background-color: var(--paragraph-background-color);
  color: white;
  padding: 1rem;
  margin: 1em;
}

.content-area {
  display: grid;
  padding: 10px;
  margin: 5px auto;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  gap: 5px;
}

.Uchenna-image {
  background-color: var(--accent1-color);
  width: 250px;
  margin: 1rem auto;

}

.Uchenna-image>img {
  width: 220px;
  height: 200px;
  padding: 3px;
  margin: 3px auto;
  background-color: var(--accent1-color);
}

.colume1,
.colume2,
.colume3,
.advert1,
.advert2 {
  padding: 1rem;
  margin: 1rem;
  color: black;
  border: 2px solid var(--accent1-color);
  transition: width 1s, height 1s, transform 1s;
  border-radius: 4rem;
}

.colume2>h2,
.colume3>h2 {
  text-align: left;
  background-color: var(--accent1-color);
  color: white;
  border-radius: 1rem;
}

.colume2 img,
.colume3 img {
  width: 250px;
}

.advert1 img {
  width: 450px;
  height: 500px;
  padding: 1em;
  position: relative;
}

.advert2>img {
  width: 100%;
  padding: 1rem;
  margin: 2rem auto;
}

.advert2>p,
.advert1>p {
  text-align: center;
  margin: 5px;
  padding: 5px;
  color: white;
  border-radius: 3em;
  background-color: var(--headline-color-on-color);
}

.content-area div:hover {
  overflow: hidden;
  opacity: 1;
  transform: scale(1.1);
}

.content-area h1,
.content-area1 h1 {
  background-color: var(--headline-color-on-color);
  border-radius: 15px;
  text-align: center;
  color: white;
}

.content-area p,
.content-area1 p {
  font-size: 20px;
  font-family: var(--paragraph-font);
}

.content-area li,
.content-area1 li {
  list-style: decimal;
}

.content-area1 {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  padding: 14px;
  margin: 10px;
  gap: 2rem;
}

/* Discover main design */

.container-box {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.4fr 1.5fr 1.2fr 0.8fr;
  grid-template-areas:
    "header header header header"
    "sidebar main-grid main-grid main-grid"
    "sidebar content content-1 content-2 "
    "footer footer footer footer";
  grid-gap: .3rem
}

.sidebar {
  grid-area: sidebar;
  padding: 15px;
  margin: 5px;
  background: var(--nav-hover-background-color);
  color: black;
  box-sizing: border-box;
  border: 2px solid var(--nav-hover-link-color);
  border-radius: 2rem;


}
.sidebar img{
  width: 100%;
  height: auto;
  padding: 10px;
}

.content,
.content-1,
.content-2 {
  grid-area: content;
  border-radius: 2rem;
  box-sizing: border-box;
  border: 2px solid #1d8a99;
  padding: 20px;
  margin: 5px;
  transition: width 1s, height 1s, transform 1s;
}

.content img,
.content-1 img,
.content-2 img{
  width: 100%;
  height: auto;
  padding: 10px;
  
}

.content:hover,
.content-1:hover,
.content-2:hover {
 
  opacity: 1;
  transform: scale(1.1);

}

.content-1 {
  grid-area: content-1;

}

.content-2 {
  grid-area: content-2;

}

header {
  grid-area: header;

}

.main-grid {
  grid-area: main-grid;
  background: var(--nav-link-color);
  color: white;
  box-sizing: border-box;
  border: 2px solid var(--nav-hover-link-color);
  border-radius: 2rem;
  padding: 6px;
  margin: 5px;

}
.main-grid img{
 width: 100%;

}

.main-grid .gallary{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.main-grid .gallary> img{
  width: 300px;
  height: 200px;
  border: 2px solid var(--nav-hover-background-color);
  border-radius: 14px;
  cursor: pointer;
  margin: 10px;
  transition: 400ms;
}
.main-grid .gallary> img:hover{
  filter: grayscale(1);
  transform: scale(1.03);
}

footer {
  grid-area: footer;
  background: tomato;
}




footer {

  background-color: var(--accent1-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;

}

footer a {
  margin: 20px auto;
  padding: 15px;

}

a img {
  width: 60px;
  height: 60px;
  border-radius: 2rem;
}

footer .social img {
  padding-top: 15px;
  transition: width 1s, height 1s, transform 1s;
}

footer .social img:hover {
  opacity: .6;
  transform: scale(1.1);
}