/* body {

    width: 100vw;
    height: 100vh;
    background: var(--color-background);
    user-select: none;
    overflow-y: scroll;
} */
*{
    max-width: 1600px;
    height: auto;
}
html {
    width: 100vw;
    height: 100vh;
    overflow: scroll;
    overflow-y: scroll;
    font-family: 'Courier New', Courier, monospace;
}

header {
    margin: 5px;
    background: #274C77;
    padding: 20px;
}

header div {

    padding: 10px;
    display: inline-flex;
    position: relative;
    margin: 5px;
}

header h1 {
    text-align: center;
    position: relative;
    top: 7px;
    color: azure;
    margin: 5px;
    font-size: 22px;


}
.hero img{
    width: 100%;
    height: auto;
}
.hero .label {
    position: absolute;
    top: 47%;
	
	background: radial-gradient(#fff, #023b7c);
	border: 1px solid rgba(0,0,0,.75);
	padding: 1.5rem;
	box-shadow: 0 0 3rem #fff;
	opacity: 0.75;
}
.label p{
	margin: 0;
	padding: .25rem;
	font-weight: 700;
	font-size: 2rem;
	font-family:"Great Vibes", serif;
}

header img {
    margin: auto;
    width: 3.5rem;
    height: 3.5rem;
    position: relative;
    margin-left: 10rem;

}

nav ul {

    background: black;
    text-align: center;
    margin: 6px;
    padding: 15px;
    display: block;

}

nav ul li a {
    text-decoration: none;
    color: azure;
    font-size: 25px;
    font-style: italic;


}

nav ul li {
    padding: 5px;
    margin: 5px;
    list-style-type: none;
}

nav a:hover {
    background-color: #274C77;
}

main h2 {
    text-align: center;
}


.active::before {

    content: "😊";

}



section h3,
section h3 {

    color: azure;
    background: #274C77;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
}

.card1 ul li {
    list-style: none;
}

.card {
    text-align: center;
    margin: 5px;
    padding: 5px;

}

span img {
    justify-content: end;
    align-items: end;
    display: inline-flex;
    margin: 5px;

}

.country {
    position: relative;
    bottom: 5px;
    color: azure;
    display: inline-flex;
    margin: 5px;
}

.country h4 {
    margin: 5px;
    padding: 5px;
}

footer {
    background: #274C77;
    color: azure;
    text-align: center;
}

footer img {
    width: 3.5rem;
    height: 3.5rem;
}
nav a:active{
    background: red;
}